.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(9, 8, 12, 0.95);
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.menu {
    background: rgba(130, 130, 130, 0.2);
    border-radius: 16px;
    padding: 70px 30px;
}

.menu h2 {
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.menu p {
    font-size: 1.2rem !important;
    text-transform: capitalize;
    margin-bottom: 60px;
    text-align: center;
}

.menu div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.cancel, .submit {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    width: 200px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.cancel {
    background-color: rgb(194, 0, 0);
}

.submit {
    background-color: #409c57;
}

.cancel:hover {
    background-color: rgb(235, 112, 112);
}

.submit:hover {
    background-color: #73c287;
}